[Unit]
Description=belaUI service
After=network.target

[Service]
# install_service.sh automatically sets WorkingDirectory to point to the current directory
User=root
Group=root
WorkingDirectory={{ user_dir }}/belaUI
ExecStart=/usr/bin/nodejs ./belaUI.js
KillMode=mixed
SyslogIdentifier=belaUI

[Install]
WantedBy=multi-user.target
