{
	"autostart": false,
	"enable_auth": true,
  "srtla_addr": "{{ srtla_addr }}",
	"autostart_delay_ms": 5000,
  "pipeline": "cbcd3836adf1cabb4eaf1fdb0e6379193e1c3398",
	"delay": 0,
  "min_br": 500,
  "max_br": 5000,
  "srtla_port": 5000,
  "srt_latency": 2000,
  "srt_streamid": "{{ streamid }}",
	"password": "{{ belaui_password }}"
}
