{
  "srtla_addr": "{{ srtla_addr }}",
  "delay": 0,
  "pipeline": "7a71c94d03d83413e729d4f86d929a4e5fcb392b",
  "pipeline_file": "{{ user_dir }}/belacoder/pipeline/jetson/h265_camlink_1080p30",
  "min_br": 500,
  "max_br": 5000,
  "srtla_port": 5000,
  "srt_latency": 2000,
  "srt_streamid": ""
}
