{
  "autostart": true,
  "autostart-delay": 30,
  "hw": "jetson",
  "belacoder_path": "{{ user_dir }}/belacoder/",
  "srtla_path": "{{ user_dir }}/srtla/",
  "bitrate_file": "/tmp/belacoder_br",
  "ips_file": "/tmp/srtla_ips"
}
